<div class="song-list-container">
  <div class="song-list">
    <div
      class="song-item"
      [ngClass]="{ 'song-item-selected': song.isCurrentlyPlaying }"
      [id]="'song-item-' + song.id"
      *ngFor="let song of songList"
      (click)="emitGoToSong(song)"
    >
      <div class="song-item-title">{{ song.name[0] }}</div>
      <div class="song-item-alternative-title">
        <span
          [ngClass]="{ 'new-song': song.name[1] === NUEVA_ALABANZA }"
          >{{ song.name[1] }}</span
        >
      </div>
      <div class="song-item-rythm">{{ song.rythm[0] }}</div>
    </div>
  </div>
</div>
