@import "../../../assets/style-variables/song-list-variables";

.song-list-container {
  position: relative;

  .song-list {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

    .song-item {
      width: 100%;
      text-align: center;
      border-bottom: 1px solid #cacaca;
      display: grid;
      grid-template-columns: 4fr 1fr 4fr;
      grid-template-areas:
        "title        title title"
        "alternative  .     rythm";
      scroll-snap-align: start;
      user-select: none;

      &:last-child {
        border-bottom: none;
        padding-bottom: 2em;
      }

      &-title {
        grid-area: title;
        font-size: clamp(1em, 10vw, 3em);
        font-weight: bold;
      }
      &-alternative-title {
        grid-area: alternative;
        font-size: clamp(10px, 6vw, 2em);
        text-align: start;
        margin-left: 0.5em;
      }
      .new-song {
        background: rgb(238, 174, 202);
        background: radial-gradient(
          circle,
          rgba(238, 174, 202, 1) 0%,
          rgba(148, 187, 233, 1) 100%
        );
        padding: 0 0.4em;
        border-radius: 0.3em;
        font-weight: bold;
      }
      &-rythm {
        grid-area: rythm;
        font-size: clamp(10px, 6vw, 2em);
        text-align: end;
        margin-right: 0.5em;
      }

      &-selected {
        background-color: #ffff9a;
        color: #000;
      }
    }
  }

  @media (orientation: landscape) {
    .song-list {
      height: 100vh;
      height: 100dvh;
    }
  }

  @media (orientation: portrait) {
    .song-list {
      height: calc(100vh - #{$player-size-portrait});
      height: calc(100dvh - #{$player-size-portrait});
    }
  }
}
