.player-lyric-view-container {
  height: 100%;
  width: 100%;

  .no-lyric {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &-icon {
      font-size: 10em;
    }
  }
}
