<section class="player-lyric-view-container">
  <ng-container *ngIf="lyricBlocks.length > 0; else no_lyric">
    <section class="lyric-block-container">
      <ng-container *ngFor="let lyricBlockItem of lyricBlocks">
        <p class="lyric-block">
          <ng-container *ngFor="let lyricLine of lyricBlockItem">
            <span class="lyric-line">{{lyricLine}}</span>
          </ng-container>
        </p>
      </ng-container>
    </section>
  </ng-container>
  <ng-template #no_lyric
    ><section class="no-lyric">
      <i class="no-lyric-icon bx bx-microphone-off"></i></section
  ></ng-template>
</section>
