<section class="controls">
  <div class="control-icons play-stop">
    <i
      class="bx bx-play-circle"
      *ngIf="currentPlayerStatus === playerStatusEnum.STOP"
      (click)="changeIsPlaying(playerStatusEnum.PLAY)"
    >
    </i>
    <i
      class="bx bx-stop-circle"
      *ngIf="currentPlayerStatus === playerStatusEnum.PLAY"
      (click)="changeIsPlaying(playerStatusEnum.STOP)"
    ></i>
  </div>
  <div class="control-icons secondary-buttons list-player">
    <!-- <i
      class='bx bx-list-ol'
      *ngIf="currentPlayerListView === playerListView.PLAYER_VIEW"
      (click)="emitTogglePlayerListView(playerListView.LIST_VIEW)">
    </i>
    <i
      class='bx bxs-grid-alt'
      *ngIf="currentPlayerListView === playerListView.LIST_VIEW"
      (click)="emitTogglePlayerListView(playerListView.PLAYER_VIEW)">
    </i> -->
    <i
      class='bx bxs-grid-alt'
      *ngIf="isEnabledLyricMode"
      (click)="emitToggleLyricMode(false)">
    </i>
    <i
      class='bx bx-user-voice'
      *ngIf="!isEnabledLyricMode"
      (click)="emitToggleLyricMode(true)">
    </i>
  </div>
  <div class="control-icons secondary-buttons paste">
    <i
      class='bx bx-paste'
      (click)="emitPasteEvent()"
      ></i>
  </div>
</section>