<section class="player-container">
  <ng-container [ngSwitch]="currentPlayerView">
    <player-default-view
      *ngSwitchCase="playerView.DEFAULT"
      [previousSong]="previousSong"
      [currentSong]="currentSong"
      [nextSong]="nextSong"
      [enableBlinkNextSong]="enableBlinkNextSong"
    ></player-default-view>
    <player-lyric-view
      *ngSwitchCase="playerView.LYRIC"></player-lyric-view>
  </ng-container>
  <button class="player-view-button" (click)="togglePlayerView()">
    <ng-container [ngSwitch]="currentPlayerView">
      <i *ngSwitchCase="playerView.DEFAULT" class="player-view-button-icon bx bx-user-voice"></i>
      <i *ngSwitchCase="playerView.LYRIC" class="player-view-button-icon bx bx-music"></i>
    </ng-container>
  </button>
</section>
