@import "../assets/style-variables/song-list-variables";

.app-container {
  background-color: #000;
  color: #fff;
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  width: 100dvw;
  display: grid;
  user-select: none;

  .player {
    grid-area: player;
  }

  .controls {
    grid-area: controls;
  }
}

@media (orientation: landscape) {
  .app-container{
    grid-template-columns: 1fr $player-size-landscape;
    grid-template-areas:
      "player-list controls";
  }
}

@media (orientation: portrait) {
  .app-container {
    grid-template-rows: 1fr $player-size-portrait;
    grid-template-areas:
      "player-list"
      "controls";
  }
}