.app-container {
  background-color: #000;
  color: #fff;
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  width: 100dvw;
  display: grid;

  .player {
    grid-area: player;
  }

  .controls {
    grid-area: controls;
  }
}

@media (orientation: landscape) {
  .app-container{
    grid-template-columns: 1fr 10em;
    grid-template-areas:
      "player controls";
  }
}

@media (orientation: portrait) {
  .app-container {
    grid-template-rows: 1fr 7em;
    grid-template-areas:
      "player"
      "controls";
  }
}