<div class="app-container">
  <player
    class="player-list"
    *ngIf="currentPlayerListView === playerListView.PLAYER_VIEW"
    [songList]="identifiedSongList"
    (goToSong)="goToSong($event)">
  </player>
  <list
    class="player-list"
    *ngIf="currentPlayerListView === playerListView.LIST_VIEW"
    [songList]="identifiedSongList"
    (goToSong)="goToSong($event)">
  </list>
  <controls
    class="controls"
    (togglePlayerListView)="togglePlayerListView($event)"
    (playerStatus)="changePlayerStatus($event)"
    (pasteEvent)="onPaste()">
  </controls>
</div>
