<!-- <div class="song-list-container">
  <section class="song-list-header">
    <span class="title-list">{{titleList}}</span>
    <button class="paste-button" (click)="onPaste()">PEGAR</button>
  </section>
  <div class="song-list">
    <div class="song-item" [ngClass]="{'song-item-selected': selectedSong === i}" [id]="'song-item-' + i" *ngFor="let idetifiedSong of identifiedSongList; index as i">
      <span class="song-item-title">{{idetifiedSong.nombre[0]}}</span>
      <span class="song-item-alternative-title">{{idetifiedSong.nombre[1]}}</span>
      <span class="song-item-rythm">{{idetifiedSong.ritmo[0]}}</span>
    </div>
  </div>
</div> -->
<player
  [nextSong]="identifiedSongList[7]"
  [currentSong]="identifiedSongList[6]"
  [previousSong]="identifiedSongList[5]">
</player>